@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --animate-ripple: ripple 500ms ease-out;

  @keyframes ripple {
    0% {
      opacity: 0.75;
      transform: scale(0);
    }
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }
}
