<div
  aria-invalid="true"
  role="group"
  aria-labelledby=":rgi:-label"
  class="MuiPickersInputBase-root MuiPickersOutlinedInput-root Mui-focused Mui-error MuiPickersInputBase-colorPrimary MuiPickersInputBase-adornedEnd css-qzn969"
>
  <div
    contenteditable="false"
    tabindex="-1"
    class="MuiPickersSectionList-root MuiPickersInputBase-sectionsContainer css-oljenl"
  >
    <span data-sectionindex="0" class="MuiPickersSectionList-section css-7p02jm"
      ><span class="MuiPickersInputBase-sectionBefore css-1wrzzxc"></span
      ><span
        aria-labelledby=":rgj:-month"
        aria-readonly="false"
        aria-valuemin="1"
        aria-valuemax="12"
        aria-valuetext="December"
        aria-label="Month"
        aria-disabled="false"
        tabindex="0"
        contenteditable="true"
        role="spinbutton"
        id=":rgj:-month"
        spellcheck="false"
        autocapitalize="off"
        autocorrect="off"
        inputmode="numeric"
        class="MuiPickersSectionList-sectionContent MuiPickersInputBase-sectionContent css-1ry0dx6"
        aria-valuenow="12"
        >12</span
      ><span class="MuiPickersInputBase-sectionAfter css-1wrzzxc">/</span></span
    ><span
      data-sectionindex="1"
      class="MuiPickersSectionList-section css-7p02jm"
      ><span class="MuiPickersInputBase-sectionBefore css-1wrzzxc"></span
      ><span
        aria-labelledby=":rgj:-day"
        aria-readonly="false"
        aria-valuemin="1"
        aria-valuemax="31"
        aria-valuetext="2nd"
        aria-label="Day"
        aria-disabled="false"
        tabindex="-1"
        contenteditable="true"
        role="spinbutton"
        id=":rgj:-day"
        spellcheck="false"
        autocapitalize="off"
        autocorrect="off"
        inputmode="numeric"
        class="MuiPickersSectionList-sectionContent MuiPickersInputBase-sectionContent css-1ry0dx6"
        aria-valuenow="2"
        >02</span
      ><span class="MuiPickersInputBase-sectionAfter css-1wrzzxc">/</span></span
    ><span
      data-sectionindex="2"
      class="MuiPickersSectionList-section css-7p02jm"
      ><span class="MuiPickersInputBase-sectionBefore css-1wrzzxc"></span
      ><span
        aria-labelledby=":rgj:-year"
        aria-readonly="false"
        aria-valuemin="0"
        aria-valuemax="9999"
        aria-label="Year"
        aria-disabled="false"
        tabindex="-1"
        contenteditable="true"
        role="spinbutton"
        id=":rgj:-year"
        spellcheck="false"
        autocapitalize="off"
        autocorrect="off"
        inputmode="numeric"
        class="MuiPickersSectionList-sectionContent MuiPickersInputBase-sectionContent css-1ry0dx6"
        aria-valuenow="222"
        >0222</span
      ><span class="MuiPickersInputBase-sectionAfter css-1wrzzxc"></span
    ></span>
  </div>
  <div
    class="MuiInputAdornment-root MuiInputAdornment-positionEnd MuiInputAdornment-outlined MuiInputAdornment-sizeMedium css-1vn71w4"
  >
    <button
      class="MuiButtonBase-root MuiIconButton-root MuiIconButton-edgeEnd MuiIconButton-sizeMedium css-139m8e"
      tabindex="0"
      type="button"
      aria-label="Choose date, selected date is Dec 2, 0222"
    >
      <svg
        class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-iguwhy"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
      >
        <path
          d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"
        ></path></svg
      ><span class="MuiTouchRipple-root css-4mb1j7"></span>
    </button>
  </div>
  <fieldset
    aria-hidden="true"
    class="MuiPickersOutlinedInput-notchedOutline css-1vzxniu"
  >
    <legend class="css-kg5swy">
      <span class="css-w48gsk">Basic date picker</span>
    </legend>
  </fieldset>
  <input
    class="MuiPickersInputBase-input MuiPickersOutlinedInput-input css-1ftw2zb"
    id=":rgi:"
    aria-hidden="true"
    tabindex="-1"
    value="12/02/0222"
  />
</div>
